<div class="row mb-2">
    <div class="col-12 text-center">
        <div class="h4 mb-1 mt-3 text-info">COPA</div>
        <div class="h2 mb-1 text-info">Fase de Seleção</div>
        <hr class="mb-2"/>
        <p class="text-center text-info">
            Selecione 8 equipes que deseja para a competição e depois precione o botão GERAR COPA
            <br>para prosseguir.
        </p>
    </div>
</div>
<div class="row mb-2">
  <div class="col-6">
      <h5 class="text-info">Selecionados</h5>
      <h6 class="text-info">{{listaSelecionadas.length}} de {{limeteEquipes}} equipes</h6>
  </div>
  <div class="col-6 text-right">
    <button class="btn btn-primary" 
        [disabled]="listaSelecionadas.length != limeteEquipes"
        (click) = "processarCopa()"> 
        Gerar Copa
    </button>
  </div>
</div>

<div class="row mb-2">
  <div *ngFor="let item of listaEquipes" 
       class="col-sm-4 col-md-3 mb-1">
       <app-card-equipe 
        [elemento] = "item"
        (clickCheckbox) = "clickSelect($event)">
       </app-card-equipe>
  </div>
</div>

<div class="row" *ngIf="listaGanhadoras.length">
  <div *ngFor="let item of listaGanhadoras; index as i"
    class="col-12 mb-2">
    <div class="row m-1 border border-info rounded">
      <div class="col-12 m-3">
          <span class="h4 mr-3 border-right border-info">{{i + 1}} ° &nbsp;</span>
          <span class="h4 ml-2">{{item.Nome}}</span>
      </div>
    </div>
  </div>
</div>
